body{
    font-family: "Montserrat";
    text-align: center;
}

#title{
    background-color:#ff4c68;
    color: white; 
    text-align:left;  
}

#title .container-fluid{
    padding: 3% 15% 7%;
}

.container-fluid{
    padding: 7% 15%;
}

h1, h2, h3, h4, h5, h6{
    font-family:"Montserrat";
    font-weight: 900;
}

p{
    color:#8f8f8f;
}

/* headings */

.big-heading {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5; 
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


/* Nav Bar section */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.2rem;
    font-family: "Montserrat-Light";
}

/* buttons downl */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title img */
.title-img{
    width:60%;
    transform:rotate(25deg);
    position:absolute;
    right:30%;
}

/* features section */

#features{
    background-color: white;
    position:relative;
}

.feature-title{
    font-size: 1.5rem;
}

.f-box{
    padding:4.5%;
}

.fa-check-circle{
    color:#ef8172;
    font-size:3rem;
    margin-bottom:1rem;
}
.fa-bullseye{
    color:#ef8172;
    font-size:3rem;
    margin-bottom:1rem;
}

.fa-heart{
    color:#ef8172;
    font-size:3rem;
    margin-bottom:1rem;
}
.icon:hover{
    color:#ff4c68;
}

/* testimonials section */
#testimonials{
    background-color:#ef8172 ;
    color:white;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.test1{
    width:10%;
    border-radius:100%;
    margin:5%;
}

.test2{
    width:10%;
    border-radius:100%;
    margin:5%;
}



#press{
    background-color:#ef8172 ;
    text-align:center;
    padding-bottom: 3%;
}

.press-img{
    width:15%;
    margin:20px 20px 50px;
}

/* pricing section */

.card{
    height:100%;
}

#pricing{
    padding: 100px;
}

.pr-col{
    padding:3% 2%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

@media (max-width:1028px){
    .title-img{
        position:static;
        transform:rotate(0);
    }

    #title{
        text-align: center;
    }
}

/* call to action */

#cta{
    background-color: #ff4c68;
    color:white;
}


/* footer */ 

#footer{
    background-color:white;
}
.footer-fa{
    margin: 20px 10px;
}
